@import "style";

.navbar {
    .search {
        max-width: 180px;

        @include normal-screen {
            max-width: 250px;
        }
    }

    .badge {
        width: 41px;
        height: 41px;

        &.notification i {
            &::after {
                content: "";
                width: 5px;
                min-width: 5px;
                height: 5px;
                min-height: 5px;
                background-color: red;
                position: absolute;
                left: 9px;
                right: 0;
                bottom: 0;
                top: 2px;
                border: 1px solid #a5b6e2;
                border-radius: 50%;
            }
        }

        &.cloud {
            background-color: #58b9fe;
            box-shadow: -10px 10px 20px 0 rgba(#58b9fe, 35%);
        }
    }
}