<section class="py-4">
    <div class="row">
        <div class="col-xl-8">
            <div class="p-x">
                <div class="stories d-flex align-items-center">
                    <div class="stories__item pb-4" [ngClass]="{'stories__item--active': story.isActive, 'stories__item-add': story.isAdd}"
                         *ngFor="let story of stories">
                        <button class="d-flex flex-column align-items-center border-0 bg-transparent cursor-pointer">
                            <div class="stories__item-picture">
                                <img src="https://source.boringavatars.com/beam/35/{{ story.userName }}?colors=d4e5f5" alt="user picture">
                            </div>

                            <h3 class="m-0 regular font-14 text-center stories__item-username">{{ story.userName }}</h3>
                        </button>
                    </div>
                </div>

                <hr class="bg-secondary">

                <div class="feeds-wrapper pb-4">
                    <div class="d-flex align-items-center justify-content-between flex-wrap mb-1">
                        <h3 class="m-0 fw-bold font-18 mb-2 mb-sm-0">{{ 'Feeds '}}</h3>

                        <ul class="d-flex align-items-center m-0 p-0 mb-2 mb-sm-0">
                            <li [ngClass]="{'m-inline-start-4': feedIndex > 0}" (click)="selectedFeedCategoryId = feedCategory.feedCategoryId; filterByCategory()"
                                *ngFor="let feedCategory of feedsCategories; let feedIndex = index">
                                <button class="font-16" [ngClass]="{'text-primary scale': selectedFeedCategoryId === feedCategory.feedCategoryId,
                                        'text-secondary': selectedFeedCategoryId !== feedCategory.feedCategoryId}">
                                    {{ feedCategory.feedName }}
                                </button>
                            </li>
                        </ul>
                    </div>

                    <div class="feeds d-grid">
                        <div class="feeds__each" *ngFor="let feed of feedsFiltered">
                            <img class="img-fluid feeds__each-photo cursor-pointer" [src]="'assets/images/feeds/' + feed.feedPhoto"
                                 alt="Feed Photo = {{ feed.feedPhoto }}">

                            <div class="feeds__each_details d-flex align-items-center justify-content-between mt-3">
                                <div class="feeds__each_details_user d-flex align-items-center">
                                    <img loading="lazy" src="https://source.boringavatars.com/beam/30/{{ feed.feedUserName }}?colors=d4e5f5" alt="user picture">

                                    <h3 class="m-0 fw-bold font-16 text-center m-inline-start-2">{{ feed.feedUserName }}</h3>
                                </div>

                                <div class="feeds__each_details_actions d-flex align-items-center">
                                    <div class="feeds__each_details_actions-likes d-flex align-items-center cursor-pointer" (click)="like(feed.feedId)"
                                         [ngClass]="{'text-error': feed.feedIsLiked, 'text-secondary': !feed.feedIsLiked}">
                                        <i class="fa-solid fa-heart"></i>

                                        <h6 class="m-0 m-inline-start-2">{{ feed.feedLikes }}</h6>
                                    </div>

                                    <div class="feeds__each_details_actions-comments d-flex align-items-center cursor-pointer text-secondary m-inline-start-3">
                                        <i class="fa-solid fa-comment-dots"></i>

                                        <h6 class="m-0 m-inline-start-2">{{ feed.feedComments }}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4 p-0 d-flex">
            <div class="border-start border-secondary opacity-50"></div>
            <div class="p-x w-100">
                <div class="d-none d-xl-block">
                    <app-navbar></app-navbar>
                </div>

                <div class="suggestions-wrapper mt-4">
                    <div class="d-flex align-items-center justify-content-between">
                        <h3 class="m-0 fw-bold font-18">{{ 'Suggestions For You' }}</h3>

                        <a href="javascript:" class="text-primary fw-bold font-14">{{ 'See All' }}</a>
                    </div>

                    <div class="suggestions">
                        <div class="suggestions__each d-flex align-items-center justify-content-between mt-4" *ngFor="let suggestion of suggestions">
                            <div class="suggestions__each_user d-flex align-items-center">
                                <img class="border-radius-50" src="https://source.boringavatars.com/beam/40/{{ suggestion.suggestionUserFullName }}?colors=d4e5f5"
                                     alt="user picture" loading="lazy">

                                <div class="d-flex flex-column align-items-start m-inline-start-3">
                                    <h3 class="m-0 fw-bold font-16 text-center">{{ suggestion.suggestionUserFullName }}</h3>
                                    <h6 class="m-0 font-14 text-center text-middle">{{ suggestion.suggestionUserName }}</h6>
                                </div>
                            </div>

                            <div class="suggestions__each_actions d-flex align-items-center">
                                <div class="suggestions__each_actions-follow d-flex align-items-center justify-content-center cursor-pointer border border-radius-4 px-2 py-1"
                                     (click)="follow(suggestion.suggestionId)"
                                     [ngClass]="{'bg-white text-dark': suggestion.suggestionIsFollowing, 'bg-primary text-white': !suggestion.suggestionIsFollowing}">
                                    <h6 class="m-0 font-14">{{ suggestion.suggestionIsFollowing ? 'Follwing' : 'Follow' }}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr class="bg-secondary mt-4">

                <div class="post-activities mt-4">
                    <h3 class="m-0 fw-bold font-18">{{ 'Latest Post Activity' }}</h3>

                    <div class="activities box-shadow mt-3 border-radius-8 p-3">
                        <div class="activities__each d-flex align-items-center border-radius-8 bg-light">
                            <img [src]="'assets/images/feeds/' + feedsFiltered[0].feedPhoto" alt="activity Feed Photo"
                                 class="activities__each-image w-50 border-radius-8">

                            <div class="d-flex flex-column justify-content-between w-100 h-100 py-1 m-inline-start-3">
                                <h3 class="m-0 fw-bold font-18">{{ 'Minimalist Stairs' }}</h3>

                                <div class="d-flex align-items-center">
                                    <div class="likes d-flex align-items-center cursor-pointer"
                                         [ngClass]="{'text-error': feedsFiltered[0].feedIsLiked, 'text-secondary': !feedsFiltered[0].feedIsLiked}">
                                        <i class="fa-solid fa-heart"></i>

                                        <h6 class="m-0 m-inline-start-2">{{ feedsFiltered[0].feedLikes }}</h6>
                                    </div>

                                    <div class="comments d-flex align-items-center cursor-pointer text-secondary m-inline-start-3">
                                        <i class="fa-solid fa-comment-dots"></i>

                                        <h6 class="m-0 m-inline-start-2">{{ feedsFiltered[0].feedComments }}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex align-items-center justify-content-center mt-4">
                            <a href="javascript:" class="text-primary fw-bold">{{ 'See All Posts' }}</a>
                        </div>
                    </div>
                </div>

                <footer class="mt-5">
                    <ul class="d-flex align-items-center">
                        <li class="text-secondary" *ngFor="let footerLink of footerLinks; let footerLinkIndex=index">
                            <a href="javascript" class="d-flex align-items-center">
                                {{ footerLink }}
                                <i class="fa-solid fa-circle mx-2" style="font-size: 5px" *ngIf="footerLinkIndex < footerLinks.length - 1"></i>
                            </a>
                        </li>
                    </ul>
                </footer>
            </div>
        </div>
    </div>
</section>
